@import "tailwindcss";

@theme {
  --color-primary: #1337ec;
  --color-accent-cyan: #00f2ff;
  --color-accent-purple: #7c3aed;
  --color-accent-green: #10b981;
  --color-surface-dark: #111111;
  --color-border-dark: #232948;
  --color-background-dark: #0a0a0a;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-success: #10b981;
}